.parentG{
    background-color: #eee;
    padding:3%;
}

.cardsG
{
    background-color: #eee;
    margin: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    z-index: 1;
    border: solid rgb(10, 10, 10);
    border-radius: 8px;
    box-shadow: 5px 5px rgb(203, 201, 201);
    height: 450px;
}
.part1G{
    background-color: #b4acac;
    color: black;
    width: 20%;
    aspect-ratio: 3/4;
    display: flex;
    justify-content: center;
    padding: 15%;
    border-radius: 8 0 0 8;
}
.part1-MH
{
    background-color: #eee;
    color: black;
    width: 70%;
    aspect-ratio: 4/3;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    display: block;
    padding-right: 8%;
    padding: 2%;
    border-radius: 8 0 0 8;
}
.part2G{
    color: rgb(16, 16, 16);
    background-color:  #eee;
    width: 70%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    display: block; 
    padding-left: 8%;
    border-radius: 0 8 8 0;
    flex-wrap:wrap;
}
.part2-emt{
    background-color: #b4acac;
    color: black;
    width: 20%;
    aspect-ratio: 3/4;
    display: flex;
    justify-content: center;
    padding: 15%;
    border-radius: 0 8 8 0;

}
#cardheadG{
    background-color:  #eee;
    color:rgb(16, 16, 16);
    
}
p{
    display: flex;
    justify-content: center;
    color: rgb(16, 16, 16);
    font-size: smaller;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
#btn
{
    border: solid orange;
    color: orange;
    border-radius: 30px;
    background-color: rgb(243, 217, 168);
    padding: 1%;
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;   
}